.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #222;
  color: white;
  align-items: center;
}

.nav-link {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-title {
  font-weight: bold;
}